/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #fd6600;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #fd6600;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #fd6600;
}

.carousel-inner {
   margin-bottom:50px;
}
